<div class="container">
  <div class="row">
    <div class="col-lg-3 left_cont" style="text-align:center">
      <!--この画像を投稿した人のプロフィール-->
      <%= render 'left', user: @user %>
    </div>
    <div class="col-lg-9" style="background-color:white">
        <!--タイトルと説明文を表示-->
      <h3 style="font-weight: bold;"><%= @post_image.title %></h3>
      <p><%= @post_image.img_introduction %></p>
      <p>使用した画材：<%= @post_image.art_supplies %></p>

      <div class=<%="favorite-btn-#{@post_image.id}"%>>
        <%= render 'public/favorites/favorite-btn', post_image: @post_image %>
      </div>
      <div class="judge_reason">
        <% if @post_image.status == false %>
          <h3>承認が却下された場合、下記に却下理由が表示されます</h3>
          <%= @post_image.reason %>
        <% end %>
      </div>
      <% if @user == current_user %>
        <div class="edit_destroy">
          <%= link_to "編集する", edit_public_post_image_path, class: "btn btn-success" %>
          <%= link_to "再投稿する", public_item_image_path(@post_image.item_image_id), class: "btn btn-primary"  %>
          <%= link_to "削除する", public_post_image_path(@post_image.id), method: :delete, class: "btn btn-danger" , "data-confirm" => "本当にこの作品を削除しますか?" %>
        </div>
      <% end %>
      <div class="API_list">
        <p>AIが認識した情報：</p>
        <% @post_image.tags.each do |tag| %>
         ,<span class="label"> <%= tag.name %></span>
        <% end %>
      <br />
      </div>

      <br />
      <% if user_signed_in? %>
      <div class="item_image" style="text-align:center">
        <ul class="nav nav-tabs nav-fill justify-content-center">
          <li class="nav-item">
            <a href="#post" class="nav-link active" data-toggle="tab">投稿イラスト</a>
          </li>
          <li class="nav-item">
            <a href="#item" class="nav-link" data-toggle="tab">線画素材</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="post" class="tab-pane active">
            <div id="modal-content">
              <p style="text-align:right">投稿日時：<%= @post_image.created_at %></p>
              <%= attachment_image_tag @post_image, :image, width: '80%', format: 'png' %>
              <br />
            </div>
          </div>
          <div id="item" class="tab-pane">
            <p>※クリックで素材画像画面に飛びます。</p>
            <%= link_to public_item_image_path(@item_image.id) do %>
              <%= attachment_image_tag @item_image, :image, width: '80%', format: 'png' %>
            <% end %>
            <br />
          </div>
        </div>
        <br />
        <div class="comment_form" style="text-align:center">
          <%= form_with(url: public_post_image_post_image_comments_path(post_image_id: @post_image.id)) do |f| %>
            <table><!--210818作業中....-->
              <td>
                <%= f.text_area :comment, rows: '1',:size => "75x2" %>
              </td>
              <td>
                <%= f.submit "コメント",class: "btn btn-success b-radius" %>
              </td>
            </table>
          <% end %>
          <!--コメント付与作業-->
        </div>
        <%= render 'public/post_image_comments/comment', post_image: @post_image %>

      </div>
      <% else %>
        <p>投稿日時：<%= @post_image.created_at %></p>
        <div class="unlogin_image" style="display:inline-block;text-align:center">
          <%= attachment_image_tag @post_image, :image, width: '30%', format: 'png' %>
          <%= attachment_image_tag @item_image, :image, width: '30%', format: 'png' %>
        </div>
      <% end %>
      <div class="empty">
        <br />
        <br />
      </div>
      <div class="this_item_list">
        <p style="text-align:center">-この素材を使用したイラスト-</p>
        <% @same_item_images.each do |post_image| %>
          <div class="aaa" style="display:inline-block;text-align:center">
            <%= link_to public_item_image_post_image_path(post_image.item_image.id, post_image.id) do %>
              <%= attachment_image_tag post_image, :image, width: '200px', height: '200px', style: "object-fit:cover"  %><br />
              <%= post_image.user.nickname %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>