<div class="container">
  <div class="row">
    <div class="col-lg-3" style="text-align:center">
      <!--この画像を投稿した人のプロフィール-->
      <%= link_to public_user_path(@user) do %>
        <%= attachment_image_tag(@post_image.user, :profile_image, :size => "200x200", fallback: "no_image.jpg") %><br />
        <%= @post_image.user.nickname %><br />
      <% end %>
      <%= @post_image.user.introduction %><br />
      <div class="relationships_field">
        <% if user_signed_in? %>
          <table>
            <tr>
              <td>フォロー</td>
              <td>
                <%= link_to following_public_user_path(@user) do %>
                  <%= @user.followings.count %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>フォロワー</td>
              <td>
                <%= link_to follower_public_user_path(@user) do %>
                  <%= @user.followers.count %>
                <% end %>
              </td>
            </tr>
          </table>
          <% if current_user.id == @user.id %>
            <%= link_to "マイページ", public_user_path(@user), class: "btn btn-outline-primary" %><br />
          <% else %>
            <% if current_user.following?(@user) %>
              <%= link_to "フォロー解除", public_user_relationships_path(@user.id), class: 'btn btn-primary',method: :delete, remote: true %>
            <% else %>
              <%= link_to "フォロー", public_user_relationships_path(@user.id), class: 'btn btn-outline-primary',method: :post, remote: true %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="this_user_list" style="margin-top:30px;">
        <p>-このユーザーのイラスト-</p>
        <% @post_images.each do |post_image| %>
          <div class="post_list" style="display:inline-block">
            <%= link_to public_item_image_post_image_path(post_image.id) do %>
              <%= attachment_image_tag post_image, :image, width: '200px', height: '200px', style: "object-fit:cover"  %><br />
              <%= post_image.title %><br />
            <% end %>
            <%#= link_to post_image.user.nickname public_user_path(user.id) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-9" style="background-color:white">
        <!--タイトルと説明文を表示-->
      <h3><%= @post_image.title %></h3>
      <p><%= @post_image.img_introduction %></p>
      <p>使用した画材：<%= @post_image.art_supplies %></p>

      <div class="favorite_space">
        <% if user_signed_in? %>
          <% if @post_image.favorited_by?(current_user) %><!--すでにいいねしていた場合-->
            <p>
              <%= link_to @post_image.favorites.count, public_post_image_favorites_path(@post_image.id), method: :delete, remote: true, class: "fas fa-heart heart_red", style: "color:red" %>
            </p>
          <% else %><!--まだいいねしていない場合-->
            <p>
              <%= link_to @post_image.favorites.count, public_post_image_favorites_path(@post_image.id), method: :post, remote: true, class: "fas fa-heart heart_blue" %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="judge_reason">
        <% if @post_image.status == false %>
          <h3>承認が却下された場合、下記に却下理由が表示されます</h3>
          <%= @post_image.reason %>
        <% end %>
      </div>
      <% if @user == current_user %>
        <div class="edit_destroy">
          <%= link_to "編集する", edit_public_post_image_path, class: "btn btn-success" %>
          <%= link_to "再投稿する", public_item_image_path(@post_image.item_image_id), class: "btn btn-primary"  %>
        </div>
      <% end %>
      <p>投稿日時：<%= @post_image.created_at %></p>
      <% @post_image.tags.each do |tag| %>
        <span class="label"> <%= tag.name %></span>
      <% end %>
      <% if user_signed_in? %>
      <div class="item_image" style="text-align:center">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a href="#post" class="nav-link active" data-toggle="tab">投稿イラスト</a>
          </li>
          <li class="nav-item">
            <a href="#item" class="nav-link" data-toggle="tab">線画素材</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="post" class="tab-pane active">
            <div id="modal-content">
            <%= attachment_image_tag @post_image, :image, width: '80%', format: 'png' %>
            </div>
          </div>
          <div id="item" class="tab-pane">
            <%= attachment_image_tag @item_image, :image, width: '80%', format: 'png' %>
          </div>
        </div>


        <div class="comment_form">
          <%#= form_with(url: public_post_image_post_image_comments_path(post_image_id: @post_image.id)) do |f| %>
            <%#= f.text_area :comment, rows: '1',:size => "150x5" %>
            <%#= f.submit "コメント",class: "btn btn-success" %>
          <%# end %>
          <!--20210715:コメント付与作業-->
        </div>
        <%#= render 'post_image_comments/comment', post_image: @post_image %>

      </div>
      <% else %>
        <%= attachment_image_tag @post_image, :image, width: '30%', format: 'png' %>
        <p>投稿日時：<%= @post_image.created_at %></p>
        <%#= render 'post_image_comments/comment', post_image: @post_image %>
        <%= attachment_image_tag @item_image, :image, width: '30%', format: 'png' %>
      <% end %>
    </div>

  </div>
</div>