<div class="container">
  <div class="row">
    <div class="col-lg-12" style="display:inline-block;text-align:left">
      <h2>却下する理由</h2>
      <%= form_with url: admin_applies_reject_update_path, local: true do |f| %>
        <%= f.radio_button :reason, "線画を使用していない。" %>
        <%= f.label :reason, "線画を使用していない。" %><br />
        <%= f.radio_button :reason, "反社会表現がある。" %>
        <%= f.label :reason, "反社会表現がある。" %><br />
        <%= f.radio_button :reason, "他の著作物を侵害している。" %>
        <%= f.label :reason, "他の著作物を侵害している。" %><br />
        <%= f.radio_button :reason, "誹謗中傷などといった他者を傷つけるような表現がある。" %>
        <%= f.label :reason, "誹謗中傷などといった他者を傷つけるような表現がある。" %><br />
        <%= f.hidden_field :post_image_id, value: @post_image.id %>
        <%= f.submit "却下理由を送る", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
