<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <table class="user_info_table" style="text-align:center">
        <tbody>
          <%= link_to admin_user_path(@pending_image.user) do %>
          <tr>
            <%= attachment_image_tag(@pending_image.user, :profile_image, :size => "200x200", fallback: "no_image.jpg") %>
          </tr>
          <br />
          <tr>
            <%= @pending_image.user.nickname %>
          </tr>
          <% end %>
          <br />
          <tr>
            <%= @pending_image.user.introduction %>
          </tr>
        </tbody>
      </table>
      <div class="old_post_image" style="text-align:center">
        <p>-ユーザの過去作品-</p>
        <table>
          <tbody>
            <% @post_images.each do |post_image| %>
              <tr>
                <td>
                   <%= attachment_image_tag post_image, :image, width: '80%' %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= post_image.title %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-9" style="background-color:white">
        <!--タイトルと説明文を表示-->
        <h3><%= @pending_image.title %></h3>
        <p><%= @pending_image.img_introduction %></p>
      <div class="item_image" style="text-align:center">
        <!--タグで投稿絵と線画素材を切り替える-->
        <%= attachment_image_tag @pending_image, :image, width: '80%', height: '80%', format: 'png' %>
        <p>投稿日時：<%= @pending_image.created_at %></p>
      </div>
      <div class="apply_reject">
        <%= form_with model: @pending_image, url: admin_apply_path, local:true do |f| %>
          <h2>-承認前の確認事項-</h2>
          <ul>
            <li>
              <%= f.check_box :reason, id: 'check-reason1', onclick:"click_check()" %>
              <%= f.label :reason, "素材となる線画を使用している。" %>
            </li>
            <li>
              <%= f.check_box :reason, id: 'check-reason2', onclick:"click_check()" %>
              <%= f.label :reason, "反社会表現がない。" %>
            </li>
            <li>
              <%= f.check_box :reason, id: 'check-reason3', onclick:"click_check()" %>
              <%= f.label :reason, "他の著作物を侵害するものではない。" %>
            </li>
            <li>
              <%= f.check_box :reason, id: 'check-reason4', onclick:"click_check()" %>
              <%= f.label :reason, "誹謗中傷など他者を傷つけるような表現がない。" %>
            </li>
          </ul>
          <div class="judge" style="text-align:center">
            <%= f.submit "承認する", class: "btn btn-success", id:'submit-apply', disabled: true %>
            <%= link_to "却下する", admin_applies_reason_path(post_image_id: @pending_image.id), class: "btn btn-danger" %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
<script>
function click_check() {
  var check1 = document.getElementById('check-reason1');
  var check2 = document.getElementById('check-reason2');
  var check3 = document.getElementById('check-reason3');
  var check4 = document.getElementById('check-reason4');
  var submit = document.getElementById('submit-apply');
  if (check1.checked && check2.checked && check3.checked && check4.checked) {
    submit.disabled = false;
  } else {
    submit.disabled = true;
  }
}

</script>
