
<div class="container">
  <div class="row">
    <div class="col">
      <div class="top_introduction" style="text-align:center">
        <a class="IroDory_logo"><%= image_tag('logo.jpg')%></a>
        <br />
        <br />
        <h4>IroDoryとは....？</h4>
        <p>IroDoryは線画を提供して塗り絵を投稿するサイトです。</p>
        <br />
        <h4>どんな人に向いているの？</h4>
        <p>「イラストを描きたいけれど、描いたことがない。」<br />
        「塗り絵から始めてみたい」という初心者向けです。<br />
        また、「人物・背景などは描いたことがあるけどそれ以外が苦手」<br />
        という中級者にもお勧めです！</p>
        <%= link_to public_item_images_path do %>
          <%= image_tag'item_logo.png' %>
        <% end %> 
        <%= link_to public_post_images_path do %>
          <%= image_tag'new_logo.png'%>
        <% end %>
      </div>
    </div>
  </div>
</div>