<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>詳細検索</p>
      <div class="search_form" style="text-align:center">
        <%= form_with url: searches_search_path, local:true, method: :get do |search| %>
          <%#= search.select :range, options_for_select([['投稿画像'], ['線画素材'],['ユーザ']]) %>
          <%= search.radio_button :range, ['投稿画像'] ,style: "display:inline-block" %>
          <p style="display:inline-block;">投稿画像 | </p>
          <%= search.radio_button :range, ['線画素材'] ,style: "display:inline-block" %>
          <p style="display:inline-block;">線画素材  </p>
          <br />
          <table class="search_table">
            <tr>
              <td>タイトル：</td>
              <td><%= search.text_field :word %></td>
            </tr>
            <tr>
              <td>タグ:</td>
              <td><%= search.text_field :word %> <!--あとで「word」をタグに変える--></td>
            </tr>
            <tr>
              <td>ユーザ:</td>
              <td><%= search.text_field :word %></td>
            </tr>
            <tr>
              <td>いいね数:</td>
              <td>
                <%#= search.text_field :amount %>
                <%#= search.radio_button :amount,['以上'] ,style: "display:inline-block"%>
                <p style="display:inline-block;">以上</p>
                <%#= search.radio_button :amount,['以下'] ,style: "display:inline-block"%>
                <p style="display:inline-block;">以下</p>
              </td>
            </tr>
          </table>
          
          <br />
          <%= link_to "詳細検索", searches_detail_path, class: "btn btn-outline-primary" %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>