<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <!--ユーザ情報-->
      <%= attachment_image_tag @user, :profile_image, :size => "200x200", fallback: "no_image.jpg" %>
      <%= @user.nickname %>
    </div>
    <div class="col-lg-9">
      <%= attachment_image_tag @post_image, :image, width: '80%', height: '80%', format: 'png' %>
      <p>投稿日時：<%= @post_image.created_at %></p>
        <!--タイトルと説明文を表示-->
        <h3><%= @post_image.post_title %></h3>
        <p><%= @post_image.img_introduction %></p>
    </div>
  </div>
</div>