<!--プロフィールのヘッダーを入れる場所-->
<div class="user_header" style="background-color:purple;">
  <%= attachment_image_tag(@user, :profile_header, width: '100%',height: '250px', fallback: "no_image.jpg") %>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="profile_image" style="text-align:center">
        <%= attachment_image_tag(@user, :profile_image, :size => "200x200", fallback: "no_image.jpg") %><br />
        <h5><%= @user.nickname %></h5>
      </div>
      <table class="following_list" style="text-align:center">
      <tr>
        <td>フォロー</td>
        <td>
          <%= link_to following_public_user_path(@user) do %>
            <%= @user.followings.count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>フォロワー</td>
        <td>
          <%= link_to follower_public_user_path(@user) do %>
            <%= @user.followers.count %>
          <% end %>
        </td>
      </tr>
    </table>
    </div>
    <div class="col-lg-9">
      <table class="table">
        <thead>
          <tr class="table_head">user infomation</tr>
        </thead>
        <tbody>
          <tr>
            <td class="bg-light" width="25%">ユーザニックネーム</td>
            <td class="bg-light" width="75%"><%= @user.nickname %></td>
          </tr>
          <tr>
            <td class="gn-light" width="25%">全投稿枚数</td>
            <td class="gn-light" width="75%"><%= @user.post_images.count %></td>
          </tr>
          <tr>
            <td class="bg-light" width="25%">　(承認数)</td>
            <td class="bg-light" width="75%">(<%= @post_images.count %>)</td>
          </tr>
          <tr>
            <td class="gn-light" width="25%">　(未承認数)</td>
            <td class="gn-light" width="75%">(<%= @pending_images.count %>)</td>
          </tr>
          <tr height="100">
            <td class="bg-light" width="25%">自己紹介</td>
            <td class="bg-light" width="75%"><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <div class="post_image_list">
        <h4 style="text-align:center">-投稿一覧-</h4>
        <% @post_images.each do |post_image| %>
          <div class="post_image_list" style="display:inline-block;text-align:center">
            <%= link_to public_item_image_post_image_path(post_image.id) do %>
              <%= attachment_image_tag post_image, :image,width: '175px', height: '175px', style: "object-fit:cover"  %><br />
              <%= post_image.title %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="pending_images_list">
        <h4 style="text-align:center">-投稿待機一覧-</h4>
        <% @pending_images.each do |pending_image| %>
        <div class="pending_list" style="display:inline-block;text-align:center">
          <%= link_to admin_apply_path(pending_image.id) do %>
            <%= attachment_image_tag pending_image, :image, width: '175px', height: '175px', style: "object-fit:cover"  %><br />
            <%= pending_image.title %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>