<!--プロフィールのヘッダーを入れる場所-->
<div class="user_header" style="background-color:purple;">
  <%= attachment_image_tag(@user, :profile_header, width: '100%',height: '250px', fallback: "no_image.jpg") %>
</div>
      
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="profile_image" style="text-align:center">
        <%= attachment_image_tag(@user, :profile_image, :size => "200x200", fallback: "no_image.jpg") %>
      </div>
      <table class="following_list">
      <tr>
        <td>フォロー</td>
        <td>
          <%= link_to following_public_user_path(@user) do %>
            <%= @user.followings.count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>フォロワー</td>
        <td>
          <%= link_to follower_public_user_path(@user) do %>
            <%= @user.followers.count %>
          <% end %>
        </td>
      </tr>
    </table>
    </div>
    <div class="col-lg-9">
      <table class="table">
        <thead>
          <tr class="table_head">user infomation</tr>
        </thead>
        <tbody>
          <tr>
            <td class="bg-light">ユーザニックネーム</td>
            <td class="bg-light"><%= @user.nickname %></td>
          </tr>
          <tr>
            <td class="gn-light">自己紹介</td>
            <td class="gn-light"><%= @user.introduction %></td>
          </tr>
          <tr>
            <td class="bg-light">投稿枚数</td>
            <td class="bg-light"><%= @user.post_images.count%></td>
          </tr>
          <tr>
            <td>使用している画材</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-12">
      <p style="text-align:center">-投稿一覧-</p>
      <% @post_images.each do |post_image| %>
        <div class="post_image_list" style="display:inline-block;text-align:center">
          <%= link_to public_item_image_post_image_path(post_image.id) do %>
            <%= attachment_image_tag post_image, :image,width: '200px', height: '200px', style: "object-fit:cover"  %><br />
            <%= post_image.title %>
          <% end %>
          <!--切り替えボタン。削除-->
          
        </div>
      <% end %>
    </div>
    
  </div>
</div>