<div class="left-side">
  <%= attachment_image_tag(@post_image.user, :profile_image, :size => "200x200", fallback: "no_image.jpg") %>
  <%= @post_image.user.nickname %>
  <%= @post_image.user.introduction %>
  <% if user_signed_in? %>
  <!--この画像を投稿した人のプロフィール-->
  <br />
  <div class="this_user_list" style="margin-top:30px;">
    <p>-このユーザーのイラスト-</p>
    <% @post_images.each do |post_image| %>
      <div class="post_list" style="display:inline-block">
        <%= link_to public_item_image_post_image_path(post_image.id) do %>
          <%= attachment_image_tag post_image, :image, width: '80%' %><br />
          <%= post_image.title %><br />
        <% end %>
        <%#= link_to post_image.user.nickname public_user_path(user.id) %>
      </div>
    <% end %>
  </div>
  <% else %>
  <!--ログインと新規登録を促す-->
  <div class="loginsignin">
    <p>会員登録して多くの作品を見よう！</p>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %><br />
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success"%>
  </div>
<% end %>
</div>