<%= form_with model: @user, url: public_user_path, local:true do |f| %>
<!--ヘッダーの変更-->
<div class="profile_header" style="text-align:center;height:300px">
  <%= f.attachment_field :profile_header %>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <p>プロフィール画像編集</p>
      
      <div class="profile_image" style="text-align:center;">
        <%= f.attachment_field :profile_image %>
      </div>
    </div>
    <div class="col-lg-9">
      <table class="table">
        <thead>
          <tr class="table_head">ユーザ情報の編集</tr>
        </thead>
        <tbody>
          <tr>
            <td class="gn-light">ユーザ氏名</td>
            <td class="gn-light"><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td class="bg-light">ユーザニックネーム</td>
            <td class="bg-light"><%= f.text_field :nickname, class: "form-control-file nickname" %></td>
          </tr>
          <tr>
            <td class="gn-light">自己紹介</td>
            <td class="gn-light"><%= f.text_area :introduction, class: "form-control introduction" %></td>
          </tr>
          <tr>
            <td class="bg-light">普段使用している画材</td>
            <td class="bg-light"><%#= f.text_field %></td>
          </tr>
          <tr>
            <td class="gn-lingt">性別</td>
            <td class="bn-light"><%= @user.sex %></td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "更新", class: 'btn btn-success'%>
    </div>
  </div>
</div>
<% end %>