<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table width="75%">
        <thead>
          <tr>
            <th width="25%" style="text-align:center">image</th>
            <th width="50%" style="text-align:center">profile</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <div class="profile_image" style="text-align:center">
                  <%= attachment_image_tag(user, :profile_image, :size => "100x100", fallback: "no_image.jpg") %>
                </div>
              </td>
              <td>
                <%= link_to public_user_path(user) do %>
                  <h4><%= user.nickname %><br /></h4>
                <% end %>
                フォロー：<%= link_to following_public_user_path(user) do %><%= user.followings.count %><% end %><br />
                フォロワー：<%= link_to follower_public_user_path(user) do %><%= user.followers.count %><% end %><br />
                <p><%= user.introduction %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>