<header>
  <nav class="navber navber-expand-lg header">
    <div class="container" style="display:inline-block">
      <a class="title-logo" href="/">IroDory<%#= image_tag('logo.jpg')%></a>
      <nav>
        <ul class="nav nav-pills" >
          <% if user_signed_in? %><!--会員ログインしていた場合-->
            <!--検索するテキストボックスと『検索』ボタン-->
            
            <div class="current_user_header" style="display:inline-block;">
              <li class="nav-item"><%= link_to "素材一覧", public_item_images_path %></li>
              <li class="nav-item"><%= link_to "投稿一覧", public_post_images_path %></li>
              
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%#= attachment_image_tag(current_user, :profile_image, height: "50", fallback: "no_image.jpg") %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%#= current_user.nickname, class: "dropdown-item" %>
                  <%#= link_to "マイページ", public_user_path(current_user.id), class: "dropdown-item" %>
                  <%#= link_to "ブックマーク", public_user_path(current_user.id), class: "dropdown-item" %>
                  <%#= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </div>
              </div>
              
              <%= link_to public_user_path(current_user.id) do %>
                <li class="nav-item"><%= attachment_image_tag(current_user, :profile_image, height: "50", fallback: "no_image.jpg") %></li>
                <li class="nav-item"><p><%= current_user.nickname %>さん</p></li>
              <% end %>
              <!--deviseで追加している場合は「current_user」でよい-->
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </div>
          <% elsif admin_signed_in? %> <!--管理者ログインしていた場合-->
            <li class="nav-item"><%= link_to "承認待機一覧" %></li>
            <li class="nav-item"><%= link_to "ユーザ一覧" %></li>
            <li class="nav-item"><%= link_to "素材線画一覧" %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <!--検索するテキストボックスと『検索』ボタン-->
            <p style="display:inline-block">こんにちは ゲストさん</p>
            <li class="nav-item"><%= link_to "ログイン",new_user_session_path, class: "btn btn-primary" %></li>
            <li class="nav-item"><%= link_to "新規登録",new_user_registration_path, class: "btn btn-primary" %></li>

          <% end %>
        </ul>
      </nav>
    </div>
  </nav>
</header>
